* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: 'Roboto', sans-serif; 
       color: #212529; 
    }
.container { max-width: 1140px; 
             margin: 0 auto;  
             padding: 0 15px; 
            }
.d-flex { display: flex; 
}
.justify-content-between { justify-content: space-between; 
}
.align-items-center { align-items: center; 
}

/* Top Nav */
.top-nav { background: #212934; 
           padding: 12px 0; 
           font-size: 11.8px; 
           font-weight: 300 !important;
           
        }
.top-nav a { 
    color: #cfd6e1; 
    text-decoration: none;        
}

.top-nav .social-links a { 
    margin-left: 15px;
}

.top-nav i { color: #cfd6e1; 
             margin-left: 0px 8px;

            }
.contact-links i {
    margin: 0 8px;
    
}



.contact-links span i {
    transform: rotate(-90deg);
}
    

.social-links a { font-size: .9em !important;
}




/* Header */
.main-header { padding: 20px 0; 
               background: #fff; 
               box-shadow: 0 2px 10px rgba(0,0,0,0.1);
             }
.brand { font-size: 45px; 
         font-weight: 700; color: #59ab6e;
         text-decoration: none; 
        }
.nav-menu { list-style: none; 
            display: flex; 
        }
.nav-menu li a { padding: 0 50px; 
                text-decoration: none; 
                color: #212529; 
                font-weight: 300 !important; 
                font-size: 18px; 
            }
.nav-menu li a:hover, .nav-menu li a.active { 
    color: #59ab6e; 
}

/* Hero Section */


.hero { background: #efefef; 
        height: 100vh; 
        position: relative; 
        display: flex; 
        align-items: center; 
        overflow: hidden;
        
    }
    .hero .container {
        padding: 0 48px;
    }
.hero .slide { display: none; 
            align-items: center; 
            justify-content: space-between; 
            width: 100%; 
        }


        /* Faqat active klassi bor slayd ko'rinadi */
.hero .slide.active { 
    display: flex; 
}

.slide-simple-style .hero-text h1{
    color: #212529;
    font-weight: 300 !important;
}

.hero-text { flex: 1; 
             padding-right: 50px; 
            }
.hero-text h1 { font-size: 48px; 
                color: #212529; 
                margin-bottom: 10px; 
                color: #59ab6e;
                font-weight: 200 !important;
            }



.hero-text h1 span { color: #59ab6e; 
}

.text-succes { color: #59ab6e;
    text-decoration: underline; 
}   
.hero-text h2 { font-size: 30px; 
                font-weight: 300; 
                margin-bottom: 20px; 
            }
.hero-text p { font-size: 18px; 
               line-height: 1.6; 
               font-weight: 300; 
            }

.hero-text p span {
    color: #59ab6e;
    text-decoration: underline;
}
.hero-img { flex: 1; 
            text-align: center; 
        }
.hero-img img { max-width: 100%; 
}

/* Arrows */
.arrow { position: absolute; 
         top: 50%; 
         transform: translateY(-50%); 
         background: none; 
         border: none; 
         font-size: 40px; 
         color: #59ab6e; 
         cursor: pointer; 
         z-index: 10;
        }
.prev { left: 20px; 
}
.next { right: 20px;
 }

/* Categories */

.categories-container { padding-top: 3rem !important;
    padding-bottom: 3rem !important; 
                     
                    }

.section-title { text-align: center; 
                 margin: 50px 0; 
                 ;
                }
.section-title h1 { font-family: 'Roboto', sans-serif;
                    font-size: 48px !important;
                    font-weight: 300 !important;
                    padding: 18px;
                }
.section-title p { font-family: 'Roboto', sans-serif;
                   font-size: 18px !important;
                   font-weight: 300 !important;
    
                }
.category-grid { display: grid; 
                 grid-template-columns: repeat(3, 1fr); 
                 gap: -50px; 
                 text-align: center; 
                }
.cat-img { width: 350px; 
           height: 350px; 
           border-radius: 50%; 
           border: 1px solid #ddd; 
           margin: 0 auto 20px; 
           overflow: hidden; 
        }
.cat-img img { width: 100%; 
               height: 100%; 
               object-fit: cover; 
            }
.btn-green { display: inline-block;
             background: #59ab6e; 
             color: #fff; 
             padding: 11px 12px; 
             border-radius: 4px; 
             text-decoration: none; 
             margin-top: 15px;
             text-align: center;
             font-size: 18px !important;
    font-weight: 300 !important; 
            }

/* Badge */
.nav-icons a { position: relative; 
               color: #212529; 
               font-size: 18px; 
               margin-left: 20px; 
               text-decoration: none;
               
            }
.badge { position: absolute; 
         top: 0 !important; 
         background: #e9eef5 !important; color: #212529; 
         border-radius: 50rem !important; 
         padding: .35em .65em;
         font-size: .75em; 
         font-weight: 700;
         transform: translate(-50%, -50%) !important;
         line-height: 1;
         text-align: center;
         white-space: nowrap;
            vertical-align: baseline;
        }

/* Featured Products Styles */
.bg-light { background-color: #e9eef5 !important; 
    padding: 55px ;
}



.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 40px;
}

.product-card {
    background: #fff;
    border: 1px solid #dee2e6;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.product-img img {
    width: 100%;
    height: auto;
    display: block;
}

.product-body {
    padding: 20px;
}

.rating-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.stars {
    list-style: none;
    display: flex;
    padding: 0;
    font-weight: 500;
}

.stars li i {
    font-size: 18px;
    padding: 2px;
}

.text-yellow { color: #ede861 !important;; }
.text-muted { color: #bcbcbc; }

.price {
    color: #bcbcbc !important;
    font-weight: 400;
}

.product-title {
    display: block;
    font-size: 30px !important;
    font-weight: 300;
    color: #212529;
    text-decoration: none;
    margin-bottom: 10px;
}



.product-text {
    font-size: 16px;
    color: #212529;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 15px;
}

.reviews {
    color: #bcbcbc !important;
    font-size: 18px !important;
    margin: 0;
    font-weight: 300 !important;

    /* color: #bcbcbc !important;
    font-size: 18px;
    font-weight: 300; */
}

/* Footer uslublari */
.site-footer {
    background-color: #212934; /* To'q fon rangi */
    color: #dcdde1; /* Ochiq matn rangi */
    padding-top: 86px;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #444; /* Ustunlar ostidagi chiziq */
}

.footer-col {
    flex: 1;
}

.footer-col .brand {
    color: #59ab6e; /* Yashil rang */
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-col h4 {
    color: #cfd6e1;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 25px;
    position: relative;
    
}

/* Sarlavhalar ostidagi yashil chiziq */


.footer-col address p,
.footer-col ul li a {
    color: #dcdde1;
    line-height: 2;
    transition: color 0.3s;
    font-family: 'Roboto', sans-serif;
    font-size: 18px !important;
    font-weight: 300 !important;
    text-decoration: none;
    
    
}

.site-footer ul li {
  list-style-type: none !important;
  /* Agar chap tomonda bo'sh joy qolsa, buni ham qo'shing: */
  padding-left: 0 !important; 
}




.footer-col ul li a:hover {
    color: #59ab6e;
}

.footer-col i {
    margin-right: 10px;
}

/* Footer pastki bar (ijtimoiy tarmoqlar va obuna) */
.footer-bottom-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.footer-social-icons a {
    color: #dcdde1;
    background-color: #212934;
    width: 40px;
    height: 40px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 10px;
    transition: background-color 0.3s;
    font-size: 25px !important;
    border-color: #2d343f !important;

    text-align: center;
    /* vertical-align: middle; */
    padding-top: 5px;
}

.footer-social-icons a:hover {
    background-color: #cfd6e1;
    color: #212529 !important;
}

.subscribe-form {
    display: flex;
}

.subscribe-form input[type="email"] {
    padding: 12px 10px;
    border: 1px solid #2d343f;
    background-color: #212934;
    color: white;
    border-radius: 3px 0 0 3px;
    width: 200px;
}

.subscribe-form button {
    padding: 12px 10px;
    border: none;
    background-color: #59ab6e;
    color: #cfd6e1 !important;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    padding-right: 30px;
}

.subscribe-form input[type="email"] {
    font-size: 17px; 
    padding: 10px;   
    
}




.subscribe-form button {
    font-size: 17px;
    padding: 10px 20px;
    cursor: pointer;
}


.footer-col address p span i {
    transform: rotate(-90deg);
}

/* Copyright satri */
.copyright-bar {
    background-color: #1d242d; /* Undan ham to'qroq fon */
    padding: 24px 0;
    text-align: left;
    font-size: 18px;
}

.copyright-bar .container p {
    color: #cfd6e1;
}

.copyright-bar p {
    margin: 0;
}

.copyright-bar span {
    
    text-decoration: underline; 
}

.copyright-bar a {
    color: #59ab6e;
}

/* Responsive */
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
    }
}

/* --- RESPONSIVE DESIGN --- */

/* 1. Planshetlar uchun (max-width: 992px) */
@media (max-width: 992px) {
    .nav-menu li a {
        padding: 0 20px; /* Menular orasidagi masofani kamaytiramiz */
    }
    
    .category-grid, .product-grid {
        grid-template-columns: repeat(2, 1fr); /* 3 tadan 2 taga o'tkazamiz */
        gap: 20px;
    }

    .hero-text h1 {
        font-size: 38px;
    }
}

/* 2. Mobil telefonlar uchun (max-width: 768px) */
@media (max-width: 768px) {
    /* Top Navni mobilda soddalashtiramiz */
    .top-nav .d-flex {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .top-nav {
        display: none;
    }
    .contact-links {
        display: flex;
        flex-direction: column;
    }

    /* Hero qismi (Slayder) */
    .hero {
        height: auto;
        padding: 60px 0;
    }
    .hero .slide.active {
        flex-direction: column; /* Rasm va tekstni ustma-ust qilamiz */
        text-align: center;
    }
    .hero-text {
        padding-right: 0;
        margin-bottom: 30px;
    }
    .hero-text h1 {
        font-size: 32px;
    }

    /* Gridlarni 1 talik ustun qilish */
    .category-grid, .product-grid {
        grid-template-columns: 1fr;
    }

    .cat-img {
        width: 250px;
        height: 250px;
    }

    /* Footer ustunlarini ustma-ust qilish */
    .footer-columns {
        flex-direction: column;
        text-align: center;
    }
    .footer-bottom-bar {
        flex-direction: column;
        gap: 20px;
    }
    .subscribe-form {
        width: 100%;
        justify-content: center;
    }
    
    /* Header navi */
    .nav-menu {
        padding: 10px 0;
    }
    .nav-menu li a {
        padding: 10px 0;
        display: block;
        border-bottom: 1px solid #eee;
    }

    /* Slayder strelkalari kichikroq */
    .arrow {
        font-size: 25px;
    }
}

/* 3. Kichik mobil ekranlar (max-width: 480px) */
@media (max-width: 480px) {
    .brand {
        font-size: 32px;
    }
    .hero-text h1 {
        font-size: 26px;
    }
    .section-title h1 {
        font-size: 30px !important;
    }
    .subscribe-form input[type="email"] {
        width: 140px; /* Kichik ekranlarda sig'ishi uchun */
    }
}

/* Gamburger tugmasining ko'rinishi */
.menu-btn {
    display: none; /* Kompyuterda yashiramiz */
    width: 35px;
    height: 30px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 5px;
    border: px solid #ddd; /* Atrofidagi kichik ramka  */
    border-radius: 5px;
}

/* Ichidagi 3 ta chiziq */
.menu-btn span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #212934; /* Chiziqlar rangi */
    border-radius: 2px;
    transition: 0.3s; /* Animatsiya uchun */
}

/* Mobil rejimda tugmani ko'rsatish */
@media (max-width: 768px) {
    .menu-btn {
        display: flex; /* Endi ko'rinadi! */
        margin-left:auto;
    }
}

/* Kompyuter varianti uchun (Katta ekran) */
.main-header {
    background: #fff;
    padding: 15px 0;
    position: relative;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.menu-btn {
    display: none; /* Kompyuterda ko'rinmaydi */
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-btn span {
    width: 30px;
    height: 3px;
    background: #212934;
    display: block;
}



/* Mobil varianti uchun (768px dan kichik) */
@media (max-width: 768px) {
    .nav-menu {
        display: none; /* Dastlab yopiq turadi */
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        padding: 20px;
        z-index: 100;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    }

    .menu-btn {
        display: flex; /* Faqat mobilda chiqadi */
    }

    /* JS orqali qo'shiladigan klass */
    .nav-menu.show-menu {
        display: flex;
    }
    
    .nav-icons {
        display: none; 
        flex-direction: row; /* Ikonkalar yonma-yon tursin */
        justify-content: center; /* Markazda */
        gap: 20px;
        
        /* Mutloq joylashuvni bekor qilamiz yoki moslaymiz */
        position: relative; 
        width: 100%;
        background: #f9f9f9; /* Menyudan ajralib turishi uchun rang */
        padding: 15px 0;
        border-top: 1px solid #eee; /* Menyu bilan chegara */
    }

    /* Agar menyu ochilganda ikonka ham chiqishi kerak bo'lsa */
    .nav-menu.show-menu ~ .nav-icons {
        display: flex;
    }
}




/* Qidiruv oynasi foni (butun ekranni qoplaydi) */
.search-overlay {
    display: none; /* Boshida yopiq */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; /* Oqish shaffof fon */
    z-index: 1050; /* Hamma narsadan tepada turadi */
    justify-content: center;
    
    padding-top: 175px;
    transition: 0.3s ease-in-out;
}

/* Oyna ichidagi kontent */
.search-content {
    width: 80%;
    max-width: 800px;
    position: relative;
    text-align: center;
    
}

/* Qidiruv qatori */
.search-input-group {
    display: flex;
    border: 1px solid #ced4da;
    border-radius: 4px;
    overflow: hidden;
    border-color: #e8e8e8;
}

.search-input-group input {
    flex: 1 1 auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding: 6px 12px;
    border: none;
    font-size: 18px;
    outline: none;
}

.search-submit {
    background-color: #59ab6e; /* Yashil tugma */
    color: white;
    border: none;
    padding: 10px 13px;
    cursor: pointer;
    font-size: 16px;
}

/* Yopish tugmasi (X) */
.close-btn {
    position: absolute;
    top: -150px;
    left: 0;
    background: none;
    border: none;
    font-size: 30px;
    color: #000;
    cursor: pointer;
    opacity: 0.5;
    border-radius: .25rem;
    padding: .25em .25em;
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    
}

/* Oyna ochilganda ishlatiladigan klass */
.search-open {
    display: flex !important;
}



/* Slayder asosiy uslublari */
.hero {
    position: relative;
    overflow: hidden;
    background-color: #efefef;
    min-height: 500px;
    display: flex;
    align-items: center;
}

.slide {
    display: none; /* Barcha slaydlarni yashirish */
    width: 100%;
    animation: fadeIn 0.5s ease-in-out;
}

.slide.active {
    display: flex; /* Faqat active bo'lganini ko'rsatish */
    justify-content: space-between;
    align-items: center;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Tugmalar uslubi */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 30px;
    color: #59ab6e;
    cursor: pointer;
    z-index: 10;
}

.prev { left: 20px; }
.next { right: 20px; }












